* {
    font-family:  serif;
    color: #EADDCA;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    color: #EADDCA;
}

.titleYMIR {
}

body {
    background-image: url("coffee-4912804_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #EADDCA;
}

.form-labels {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
